*.md
*.txt
*.prefab
/.svn
/client/config.png
/client/Library
/client/Luajit
/client/Luajit64
/client/ProjectSettings
/client/protoc-gen-lua-master
/client/UnityPackageManager
/client/Assets/Resources
/client/Assets/Pbc.dll
/client/Assets/StreamingAssets
/client/Assets/CityGame/.idea
/client/Assets/CityGame/csharpRes
/client/Assets/CityGame/Scenes
/client/Assets/CityGame/csharpRes
/client/Assets/CityGame/Plugins
/client/Assets/CityGame/link.xml
/client/Assets/CityGame/Resources
/client/.vs
/开发文档/City项目版本管理.docx
/client/Assets/CityGame.meta
/client/Assets/Pbc.dll.meta
/client/Assets/Resources.meta
/client/Assets/StreamingAssets.meta

/client/Temp/UnityLockfile
/client/Temp/__Backupscenes/0.backup
.gradle
.idea
/server/city/build
/server/city/as/build
/server/city/as/out
/server/city/gs/build
/server/city/gs/out
/server/city/shared/build
/server/city/shared/out
/server/city/log
/server_bin
/robot/python/*_pb2.py
/robot/python/*.pyc
/robot/python/venv
/client/Assets/CityGame/Lua/pb/*.proto
/client/Assets/CityGame/Lua/pb/*.meta
/client/ThirdPart
/client/Assets/CityGame/Lua/Framework/pbl/serpent.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl/luaunit.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl/protoc.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl.meta
/Assets/CityGame/Lua/pb
/client.sln
/client.csproj
/client.Editor.csproj
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/WarehouseInfo/icon-curve-white.png.meta
Atlas
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/icon-curve-white.png.meta
/client.sln
/client.csproj
/client.Editor.csproj
/Assets/CityGame/Scripts/toolbox/LineChart/LineChartGraph.cs.meta
/Assets/CityGame/Scripts/toolbox.meta
/Assets/CityGame/link.xml
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/icon-curve-white.png.meta
/Assets/CityGame/Demigiant
/Assets/CityGame/Luajit
/Assets/CityGame/Plugins
/Assets/CityGame/ResSource
/Assets/CityGame/Resources
/Assets/CityGame/Scenes
/Assets/CityGame/Source/Generate
/Assets/CityGame/Demigiant.meta
/Assets/CityGame/Luajit.meta
/Assets/CityGame/ResSource.meta
/Assets/CityGame/csharpRes
/Assets/CityGame/Source/Generate
/Assets/StreamingAssets
/Library/PlayerDataCache/Data
/Library
/Assets/StreamingAssets.meta
/LuaEncoder/luajit/jit
/LuaEncoder
/Luajit
/Luajit_/jit
/.vs
/Assets/CityGame.meta
/Assets/CityGame/Source.rar.meta
/Assets/CityGame/link.xml.meta
/Assets/Resources.meta
/Assets/StreamingAssets.rar.meta
/Luajit64/Build.bat
/Luajit64/luajit64.exe
/Temp
/apk
/config.png
StreamingAssets
/Assets/CityGame/Lua/Require_RunTime.lua
/Assets/CityGame/MemoryProfile
/Assets/CityGame/Lua/Require_RunTime.lua.meta
/Assets/CityGame/Lua/Require_RunTime.lua
/MemoryProfile
/Assets/CityGame/Lua.meta
/Assets/CityGame/Anima
/Assets/CityGame/AmplifyShaderEditor
/Assets/CityGame/Lua/Require_RunTime.lua
/Assets/StreamingAssets
/Assets/StreamingAssets
/Assets/CityGame/Resources/View
/Assets/CityGame/Lua/Require_Android.lua.meta
/Assets/CityGame/AmplifyShaderEditor.meta
/Assets/CityGame/Anima.meta
/Assets/CityGame/Anima2D.meta
/Assets/CityGame/Anima2D/Examples.meta
/Assets/CityGame/Anima2D/Examples/Scripts.meta
/Assets/CityGame/Anima2D/Examples/Scripts/CharacterMotion.cs
/Assets/CityGame/Anima2D/Examples/Scripts/CharacterMotion.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/Follow.cs
/Assets/CityGame/Anima2D/Examples/Scripts/Follow.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SkinnedMeshCombiner.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SkinnedMeshCombiner.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SpringBone.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SpringBone.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SpringCollider.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SpringCollider.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SpringManager.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SpringManager.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SpriteCycle.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SpriteCycle.cs.meta
/Assets/CityGame/Anima2D/Examples/Scripts/SpriteCycleParallax.cs
/Assets/CityGame/Anima2D/Examples/Scripts/SpriteCycleParallax.cs.meta
/Assets/CityGame/Anima2D/Scripts.meta
/Assets/CityGame/Anima2D/Scripts/Bone2D.cs
/Assets/CityGame/Anima2D/Scripts/Bone2D.cs.meta
/Assets/CityGame/Anima2D/Scripts/Control.cs
/Assets/CityGame/Anima2D/Scripts/Control.cs.meta
/Assets/CityGame/Anima2D/Scripts/EditorUpdaterProxy.cs
/Assets/CityGame/Anima2D/Scripts/EditorUpdaterProxy.cs.meta
/Assets/CityGame/Anima2D/Scripts/Ik2D.cs
/Assets/CityGame/Anima2D/Scripts/Ik2D.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkCCD2D.cs
/Assets/CityGame/Anima2D/Scripts/IkCCD2D.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkGroup.cs
/Assets/CityGame/Anima2D/Scripts/IkGroup.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkLimb2D.cs
/Assets/CityGame/Anima2D/Scripts/IkLimb2D.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkSolver2D.cs
/Assets/CityGame/Anima2D/Scripts/IkSolver2D.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkSolver2DCCD.cs
/Assets/CityGame/Anima2D/Scripts/IkSolver2DCCD.cs.meta
/Assets/CityGame/Anima2D/Scripts/IkSolver2DLimb.cs
/Assets/CityGame/Anima2D/Scripts/IkSolver2DLimb.cs.meta
/Assets/CityGame/Anima2D/Scripts/MathUtils.cs
/Assets/CityGame/Anima2D/Scripts/MathUtils.cs.meta
/Assets/CityGame/Anima2D/Scripts/Pose.cs
/Assets/CityGame/Anima2D/Scripts/Pose.cs.meta
/Assets/CityGame/Anima2D/Scripts/PoseManager.cs
/Assets/CityGame/Anima2D/Scripts/PoseManager.cs.meta
/Assets/CityGame/Anima2D/Scripts/SpriteMesh.cs
/Assets/CityGame/Anima2D/Scripts/SpriteMesh.cs.meta
/Assets/CityGame/Anima2D/Scripts/SpriteMeshAnimation.cs
/Assets/CityGame/Anima2D/Scripts/SpriteMeshAnimation.cs.meta
/Assets/CityGame/Anima2D/Scripts/SpriteMeshInstance.cs
/Assets/CityGame/Anima2D/Scripts/SpriteMeshInstance.cs.meta
/Assets/CityGame/PostProcessing.meta
/Assets/CityGame/PostProcessing/Editor.meta
/Assets/CityGame/PostProcessing/Editor/Attributes.meta
/Assets/CityGame/PostProcessing/Editor/Attributes/PostProcessingModelEditorAttribute.cs
/Assets/CityGame/PostProcessing/Editor/Attributes/PostProcessingModelEditorAttribute.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models.meta
/Assets/CityGame/PostProcessing/Editor/Models/AmbientOcclusionModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/AmbientOcclusionModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/AntialiasingModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/AntialiasingModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/BloomModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/BloomModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/BuiltinDebugViewsEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/BuiltinDebugViewsEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/ChromaticAberrationEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/ChromaticAberrationEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/ColorGradingModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/ColorGradingModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/DefaultPostFxModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/DefaultPostFxModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/DepthOfFieldModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/DepthOfFieldModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/DitheringModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/DitheringModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/EyeAdaptationModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/EyeAdaptationModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/FogModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/FogModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/GrainModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/GrainModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/MotionBlurModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/MotionBlurModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/ScreenSpaceReflectionModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/ScreenSpaceReflectionModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/UserLutModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/UserLutModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Models/VignetteModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/Models/VignetteModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Monitors.meta
/Assets/CityGame/PostProcessing/Editor/Monitors/HistogramMonitor.cs
/Assets/CityGame/PostProcessing/Editor/Monitors/HistogramMonitor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Monitors/ParadeMonitor.cs
/Assets/CityGame/PostProcessing/Editor/Monitors/ParadeMonitor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Monitors/VectorscopeMonitor.cs
/Assets/CityGame/PostProcessing/Editor/Monitors/VectorscopeMonitor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Monitors/WaveformMonitor.cs
/Assets/CityGame/PostProcessing/Editor/Monitors/WaveformMonitor.cs.meta
/Assets/CityGame/PostProcessing/Editor/PostProcessingBehaviourEditor.cs
/Assets/CityGame/PostProcessing/Editor/PostProcessingBehaviourEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/PostProcessingFactory.cs
/Assets/CityGame/PostProcessing/Editor/PostProcessingFactory.cs.meta
/Assets/CityGame/PostProcessing/Editor/PostProcessingInspector.cs
/Assets/CityGame/PostProcessing/Editor/PostProcessingInspector.cs.meta
/Assets/CityGame/PostProcessing/Editor/PostProcessingModelEditor.cs
/Assets/CityGame/PostProcessing/Editor/PostProcessingModelEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/PostProcessingMonitor.cs
/Assets/CityGame/PostProcessing/Editor/PostProcessingMonitor.cs.meta
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers.meta
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/GetSetDrawer.cs
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/GetSetDrawer.cs.meta
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/MinDrawer.cs
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/MinDrawer.cs.meta
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/TrackballGroupDrawer.cs
/Assets/CityGame/PostProcessing/Editor/PropertyDrawers/TrackballGroupDrawer.cs.meta
/Assets/CityGame/PostProcessing/Editor/Utils.meta
/Assets/CityGame/PostProcessing/Editor/Utils/CurveEditor.cs
/Assets/CityGame/PostProcessing/Editor/Utils/CurveEditor.cs.meta
/Assets/CityGame/PostProcessing/Editor/Utils/EditorGUIHelper.cs
/Assets/CityGame/PostProcessing/Editor/Utils/EditorGUIHelper.cs.meta
/Assets/CityGame/PostProcessing/Editor/Utils/EditorResources.cs
/Assets/CityGame/PostProcessing/Editor/Utils/EditorResources.cs.meta
/Assets/CityGame/PostProcessing/Editor/Utils/FxStyles.cs
/Assets/CityGame/PostProcessing/Editor/Utils/FxStyles.cs.meta
/Assets/CityGame/PostProcessing/Editor/Utils/ReflectionUtils.cs
/Assets/CityGame/PostProcessing/Editor/Utils/ReflectionUtils.cs.meta
/Assets/CityGame/PostProcessing/Runtime.meta
/Assets/CityGame/PostProcessing/Runtime/Attributes.meta
/Assets/CityGame/PostProcessing/Runtime/Attributes/GetSetAttribute.cs
/Assets/CityGame/PostProcessing/Runtime/Attributes/GetSetAttribute.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Attributes/MinAttribute.cs
/Assets/CityGame/PostProcessing/Runtime/Attributes/MinAttribute.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Attributes/TrackballAttribute.cs
/Assets/CityGame/PostProcessing/Runtime/Attributes/TrackballAttribute.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Attributes/TrackballGroupAttribute.cs
/Assets/CityGame/PostProcessing/Runtime/Attributes/TrackballGroupAttribute.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components.meta
/Assets/CityGame/PostProcessing/Runtime/Components/AmbientOcclusionComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/AmbientOcclusionComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/BloomComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/BloomComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/BuiltinDebugViewsComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/BuiltinDebugViewsComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/ChromaticAberrationComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/ChromaticAberrationComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/ColorGradingComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/ColorGradingComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/DepthOfFieldComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/DepthOfFieldComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/DitheringComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/DitheringComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/EyeAdaptationComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/EyeAdaptationComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/FogComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/FogComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/FxaaComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/FxaaComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/GrainComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/GrainComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/MotionBlurComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/MotionBlurComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/ScreenSpaceReflectionComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/ScreenSpaceReflectionComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/TaaComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/TaaComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/UserLutComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/UserLutComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Components/VignetteComponent.cs
/Assets/CityGame/PostProcessing/Runtime/Components/VignetteComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models.meta
/Assets/CityGame/PostProcessing/Runtime/Models/AmbientOcclusionModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/AmbientOcclusionModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/AntialiasingModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/AntialiasingModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/BloomModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/BloomModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/BuiltinDebugViewsModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/BuiltinDebugViewsModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/ChromaticAberrationModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/ChromaticAberrationModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/ColorGradingModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/ColorGradingModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/DepthOfFieldModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/DepthOfFieldModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/DitheringModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/DitheringModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/EyeAdaptationModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/EyeAdaptationModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/FogModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/FogModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/GrainModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/GrainModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/MotionBlurModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/MotionBlurModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/ScreenSpaceReflectionModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/ScreenSpaceReflectionModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/UserLutModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/UserLutModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Models/VignetteModel.cs
/Assets/CityGame/PostProcessing/Runtime/Models/VignetteModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/PostProcessingBehaviour.cs
/Assets/CityGame/PostProcessing/Runtime/PostProcessingBehaviour.cs.meta
/Assets/CityGame/PostProcessing/Runtime/PostProcessingComponent.cs
/Assets/CityGame/PostProcessing/Runtime/PostProcessingComponent.cs.meta
/Assets/CityGame/PostProcessing/Runtime/PostProcessingContext.cs
/Assets/CityGame/PostProcessing/Runtime/PostProcessingContext.cs.meta
/Assets/CityGame/PostProcessing/Runtime/PostProcessingModel.cs
/Assets/CityGame/PostProcessing/Runtime/PostProcessingModel.cs.meta
/Assets/CityGame/PostProcessing/Runtime/PostProcessingProfile.cs
/Assets/CityGame/PostProcessing/Runtime/PostProcessingProfile.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Utils.meta
/Assets/CityGame/PostProcessing/Runtime/Utils/ColorGradingCurve.cs
/Assets/CityGame/PostProcessing/Runtime/Utils/ColorGradingCurve.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Utils/GraphicsUtils.cs
/Assets/CityGame/PostProcessing/Runtime/Utils/GraphicsUtils.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Utils/MaterialFactory.cs
/Assets/CityGame/PostProcessing/Runtime/Utils/MaterialFactory.cs.meta
/Assets/CityGame/PostProcessing/Runtime/Utils/RenderTextureFactory.cs
/Assets/CityGame/PostProcessing/Runtime/Utils/RenderTextureFactory.cs.meta
/Assets/CityGame/PostProcessing/Utilities.meta
/Assets/CityGame/PostProcessing/Utilities/CustomMotionTexture.meta
/Assets/CityGame/PostProcessing/Utilities/CustomMotionTexture/ExampleWheelController.cs
/Assets/CityGame/PostProcessing/Utilities/CustomMotionTexture/ExampleWheelController.cs.meta
/Assets/CityGame/Lua/Require_Android.lua
/Assets/CityGame/Lua/Require_Android.lua.meta
/Assets/CityGame/Lua/View/BuildingInfo/MaterialHomepageInfo.meta~HEAD
/Assets/CityGame/Lua/View/BuildingInfo/MaterialHomepageInfo.meta~HEAD.meta
/Assets/CityGame/csharpRes.meta
