*.md
*.txt
*.prefab
/.svn
/client/config.png
/client/Library
/client/Luajit
/client/Luajit64
/client/ProjectSettings
/client/protoc-gen-lua-master
/client/UnityPackageManager
/client/Assets/Resources
/client/Assets/Pbc.dll
/client/Assets/StreamingAssets
/client/Assets/CityGame/.idea
/client/Assets/CityGame/csharpRes
/client/Assets/CityGame/Scenes
/client/Assets/CityGame/csharpRes
/client/Assets/CityGame/Plugins
/client/Assets/CityGame/link.xml
/client/Assets/CityGame/Resources
/client/.vs
/开发文档/City项目版本管理.docx
/client/Assets/CityGame.meta
/client/Assets/Pbc.dll.meta
/client/Assets/Resources.meta
/client/Assets/StreamingAssets.meta

/client/Temp/UnityLockfile
/client/Temp/__Backupscenes/0.backup
.gradle
.idea
/server/city/build
/server/city/as/build
/server/city/as/out
/server/city/gs/build
/server/city/gs/out
/server/city/shared/build
/server/city/shared/out
/server/city/log
/server_bin
/robot/python/*_pb2.py
/robot/python/*.pyc
/robot/python/venv
/client/Assets/CityGame/Lua/pb/*.proto
/client/Assets/CityGame/Lua/pb/*.meta
/client/ThirdPart
/client/Assets/CityGame/Lua/Framework/pbl/serpent.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl/luaunit.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl/protoc.lua.meta
/client/Assets/CityGame/Lua/Framework/pbl.meta
/Assets/CityGame/Lua/pb
/client.sln
/client.csproj
/client.Editor.csproj
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/WarehouseInfo/icon-curve-white.png.meta
Atlas
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/icon-curve-white.png.meta
/client.sln
/client.csproj
/client.Editor.csproj
/Assets/CityGame/Scripts/toolbox/LineChart/LineChartGraph.cs.meta
/Assets/CityGame/Scripts/toolbox.meta
/Assets/CityGame/link.xml
/Assets/CityGame/ResSource/Atlas/Common/BuildingInfo/icon-curve-white.png.meta
/Assets/CityGame/Demigiant
/Assets/CityGame/Luajit
/Assets/CityGame/Plugins
/Assets/CityGame/ResSource
/Assets/CityGame/Resources
/Assets/CityGame/Scenes
/Assets/CityGame/Source/Generate
/Assets/CityGame/Demigiant.meta
/Assets/CityGame/Luajit.meta
/Assets/CityGame/ResSource.meta
/Assets/CityGame/csharpRes
/Assets/CityGame/Source/Generate
/Assets/StreamingAssets
/Library/PlayerDataCache/Data
/Library
/Assets/StreamingAssets.meta
/LuaEncoder/luajit/jit
/LuaEncoder
/Luajit
/Luajit_/jit
/.vs
/Assets/CityGame.meta
/Assets/CityGame/Source.rar.meta
/Assets/CityGame/link.xml.meta
/Assets/Resources.meta
/Assets/StreamingAssets.rar.meta
/Luajit64/Build.bat
/Luajit64/luajit64.exe
/Temp
/apk
/config.png
StreamingAssets
/Assets/CityGame/Lua/Require_RunTime.lua
/Assets/CityGame/MemoryProfile
/Assets/CityGame/Lua/Require_RunTime.lua.meta
/Assets/CityGame/Lua/Require_RunTime.lua
/MemoryProfile
/Assets/CityGame/Lua.meta
/Assets/CityGame/Anima
/Assets/CityGame/AmplifyShaderEditor
/Assets/CityGame/Lua/Require_RunTime.lua
/Assets/StreamingAssets
/Assets/StreamingAssets
